.invisible {
  display: none;
}

.nav {
  position: absolute;
  background-color: rgb(8, 35, 125);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 2rem;
  transition: all 0.3s ease-in;
}
.nav_list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.nav.closed {
  top: -100vw;
}

.navButton {
  display: inline-block;
  width: 150px;
  margin: 4px;
  padding: 20px 44px;
  background-color: transparent;
  background-image: linear-gradient(#fff, #f5f5fa);
  border: none;
  border-radius: 9999px;
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 11px 0, rgba(74, 80, 118, 0.603) 0 1px 3px 0;
  text-transform: uppercase;
  color: rgb(46, 180, 46);
  font-family: Hind, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  text-wrap: nowrap;
  line-height: 1.15;
  cursor: pointer;
  transition: all 0.05s ease-out;
}
.navButton-mode {
  color: rgb(180, 46, 100);
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0;
  width: unset;
}
.navButton-mode:hover {
  color: green;
}
.navButton-mode:active {
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 3px 0, rgba(93, 100, 148, 0.2) 0 1px 1px 0;
}
.navButton_difficulty-decrease {
  background-color: red;
  color: gray;
  border-radius: 99999px 0 0 99999px;
}
.navButton_difficulty-increase {
  border-radius: 0 99999px 99999px 0;
}
.navButton-red {
  color: red;
}
.navButton-red:hover {
  color: rgb(203, 3, 3);
}
.navButton-red:active {
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 3px 0, rgba(93, 100, 148, 0.2) 0 1px 1px 0;
}

.difficulty_scale {
  background-color: white;
  color: red;
}

.title {
  padding-top: 0.4em;
  font-size: 0.2em;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
}
.title-top {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 400;
}
.title-bottom {
  text-transform: lowercase;
  font-weight: 100;
  letter-spacing: 5px;
}

.screen {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2em;
  font-weight: 300;
}
.screen_number {
  width: 30%;
}
.screen_number-left {
  text-align: end;
}
.screen_number-right {
  text-align: start;
}
.screen_operation_sign {
  width: 20%;
  text-align: center;
}

.timeCounter {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(to right, rgb(22, 40, 159) 1%, transparent 1% 99%, rgb(22, 40, 159) 99%);
}

.controlButtons_container {
  padding: 1rem 1.7rem 1rem 2rem;
  line-height: 0px;
  margin-bottom: 15px;
  border-radius: 0 200px 200px 0;
  background-color: rgba(8, 35, 125, 0.174);
  position: fixed;
  left: 0;
}
.controlButtons_container-1 {
  bottom: calc(5vh + 120px);
}
.controlButtons_container-2 {
  bottom: 5vh;
}

.controlButton {
  display: inline-block;
  width: 150px;
  margin: 4px;
  padding: 20px 44px;
  background-color: transparent;
  background-image: linear-gradient(#fff, #f5f5fa);
  border: none;
  border-radius: 9999px;
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 11px 0, rgba(74, 80, 118, 0.603) 0 1px 3px 0;
  text-transform: uppercase;
  color: rgb(46, 180, 46);
  font-family: Hind, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  text-wrap: nowrap;
  line-height: 1.15;
  cursor: pointer;
  transition: all 0.05s ease-out;
}
.controlButton-green {
  color: rgb(46, 180, 46);
}
.controlButton-green:hover {
  color: green;
}
.controlButton-green:active {
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 3px 0, rgba(93, 100, 148, 0.2) 0 1px 1px 0;
}
.controlButton-red {
  color: red;
}
.controlButton-red:hover {
  color: rgb(203, 3, 3);
}
.controlButton-red:active {
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 3px 0, rgba(93, 100, 148, 0.2) 0 1px 1px 0;
}

.root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: rgb(24, 48, 124);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

body {
  position: relative;
  background-color: white;
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.calculator_container {
  position: relative;
  background-color: white;
  height: 90vh;
  margin: 0 auto;
  border-radius: 1.5rem;
}

.score_result_container {
  margin-top: 1rem;
  padding: 10px 0px 10px 30px;
  border-radius: 50px 0 0 50px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.score_title {
  font-size: small;
}

.score {
  color: rgb(36, 64, 123);
}

.result_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.result_title {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(36, 64, 123, 0.895);
  align-self: flex-end;
  padding-right: 5px;
  letter-spacing: 0;
}

.result {
  background-color: rgba(73, 103, 168, 0.895);
  border-radius: 30px 0 0 30px;
  color: white;
  font-size: 35px;
  padding: 5px 0 5px 20px;
  width: 100%;
  background-image: linear-gradient(rgba(46, 82, 158, 0.536), rgba(24, 42, 82, 0.895));
  border: none;
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 11px 0, rgba(93, 100, 148, 0.2) 0 1px 3px 0;
  font-family: Hind, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: inherit;
  text-wrap: nowrap;
  transition: all 0.05s ease-out;
  transition-behavior: normal;
  white-space-collapse: collapse;
}

.score_indicator {
  border-radius: 10px;
  background-color: rgb(36, 64, 123);
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0rem;
}
.score_indicator-points {
  display: block;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(236, 236, 236);
}

.option_button_container {
  margin-top: 1.5rem;
  width: 17%;
  aspect-ratio: 1;
  border-radius: 300px;
  box-shadow: inset 3px 3px 5px rgba(22, 27, 29, 0.2470588235);
}

.option_button {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  aspect-ratio: 1;
  border-radius: 300px;
  box-shadow: -2px -2px 5px rgba(250, 251, 250, 0.7803921569);
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
