@use "sass:color";

.controlButtons_container {
  padding: 1rem 1.7rem 1rem 2rem;
  line-height: 0px;
  margin-bottom: 15px;
  border-radius: 0 200px 200px 0;
  background-color: $color-background-secondary;
  position: fixed;
  left: 0;

  &-1 {
    bottom: calc(5vh + 120px);
  }

  &-2 {
    bottom: 5vh;
  }
}

.controlButton {
  display: inline-block;
  width: 150px;
  margin: 4px;
  padding: 20px 44px;
  background-color: transparent;
  background-image: linear-gradient(#fff, #f5f5fa);
  border: none;
  border-radius: 9999px;
  box-shadow: rgba(37, 44, 97, 0.15) 0 4px 11px 0,
    rgba(74, 80, 118, 0.603) 0 1px 3px 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  text-wrap: nowrap;
  line-height: 1.15;
  cursor: pointer;
  transition: all 0.05s ease-out;

  &:hover {
    // color: red;
    // @include shadow();
  }

  &-green {
    color: rgb(46, 180, 46);

    &:hover {
      color: green;
    }

    &:active {
      @include shadow();
    }
  }

  &-red {
    color: red;

    &:hover {
      color: rgb(203, 3, 3);
    }

    &:active {
      @include shadow();
    }
  }

  &-menu {
    background-image: linear-gradient(
      $color-primary,
      color.adjust($color-primary, $lightness: 5%)
    );
    color: $color-background-primary;

    &:hover {
      color: $color-background-primary;
      // @include shadow();
    }
  }
}
