@use "sass:color";

.options {
  padding: 1rem;
  position: absolute;
  background: $color-background-primary;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 2rem;

  &_list {
    max-width: 400px;
    @include flex-column() {
      align-items: stretch;
      gap: 3rem;
    }

    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  &_modeContainer {
    margin-top: 3rem;
    padding: 1rem 1.2rem 1rem;
    line-height: 0px;
    border-radius: 200px 200px;
    background-color: $color-background-secondary;
    display: flex;
    align-items: center;
  }
  &_modeText {
    margin-left: auto;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &_gameOptionsContainer {
    padding: 1.6rem 1.5rem;
    line-height: 0px;
    border-radius: 50px 50px;
    border: 4px solid $color-background-secondary;
    @include flex-column() {
      justify-content: space-around;
      gap: 2rem;
    }
  }

  &_backButtonContainer {
    padding: 1rem 1.2rem 1rem;
    line-height: 0px;
    border-radius: 200px 200px;
    background-color: $color-background-secondary;
    display: flex;
    justify-content: space-between;
  }

  &_listItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    &-difficulty {
      gap: 0rem;
    }

    &-back {
      align-self: center;
    }
  }

  &_button {
    display: inline-block;
    padding: 1.3rem 2.5rem;
    background-color: transparent;
    background-image: linear-gradient(#fff, #f5f5fa);
    border: none;
    border-radius: 9999px;
    box-shadow: rgb(105, 130, 156) 0 2px 3px 0,
      rgba(137, 144, 186, 0.737) 0 1px 3px 0;
    text-transform: uppercase;
    color: rgb(24, 48, 124);
    font-family: Hind, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    text-wrap: nowrap;
    line-height: 1.15;
    cursor: pointer;
    transition: all 0.2s ease-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:active {
      @include shadow-pressed();
      background-color: red;
    }

    &-mode {
      text-align: center;

      &:hover {
        @include shadow-hover();
      }

      &:active {
        @include shadow-pressed();
      }
    }

    &_difficulty {
      position: relative;
      display: flex;
      font-size: 1.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      &-decrease {
        border-radius: 99999px 0 0 99999px;
      }
      &-increase {
        border-radius: 0 99999px 99999px 0;
      }

      &_scale {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        box-shadow: rgb(105, 130, 156) 0 2px 3px 0,
          rgba(137, 144, 186, 0.737) 0 1px 3px 0;
        font-size: 1.8rem;
        padding: 0 1rem;
      }
    }

    &-operationToggler {
      font-size: 1.5rem;
      padding: 1rem 2.7rem;

      &:hover {
        @include shadow-hover();
      }
    }

    &-back {
      background-image: linear-gradient(
        $color-primary,
        color.adjust($color-primary, $lightness: 5%)
      );
      color: $color-background-primary;

      &:hover {
        color: $color-background-primary;
        @include shadow-hover();
      }
    }

    &-statistics {
      &:hover {
        @include shadow-hover();
      }
    }

    &.pressed {
      box-shadow: rgba(37, 44, 97, 0.15) 0 0px 2px 0,
        rgba(93, 100, 148, 0.5) 0 1px 2px 0;
    }
  }

  &.closed {
    top: -40000000px;
    display: none;
  }
}
