@use "sass:color";

//COLORS

$backgroundColor: white;
$primaryColor: hsl(220, 100%, 25%);
$secondaryColor: color.adjust($primaryColor, $hue: 120deg, $lightness: 10%);
$tertiaryColor: color.adjust($secondaryColor, $hue: 120deg);

//FONT COLORS

$fontMainColor: $primaryColor;
