@import "variables";
@import "generalClasses";
@import "score";
@import "results";
@import "options";
@import "title";
@import "screen";
@import "timeCounter";
@import "buttonsContainer";

.root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: $fontMainColor;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

body {
  position: relative;
  background-color: $backgroundColor;
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.calculator_container {
  position: relative;
  background-color: $backgroundColor;
  // max-width: 600px;
  height: 90vh;
  margin: 0 auto;
  border-radius: 1.5rem;
}
